.wrapper {
  margin: 0 auto;
}

.abstractcheckbox {
  opacity: 0;   
}

header {
    position: relative; /* Cambia la posición del header a relativa */
}


.abstractdiv{
  display: none;
  width: 92%;
  margin: auto;
  /* border-style: none solid none solid; */
  /* border-color: #267cb9; */
  /* border-width: 0.1em; */
}

.abstractcheckbox:checked ~ .abstractdiv {
  display: block;
}

li {
  margin-bottom:1.1em;
}

p.abstractp {
  text-align: justify;
  padding: 0.2em;
}

div.abstractbotton {
  cursor: pointer;
  display: inline-block;
  color: #b11226;
  margin-right: 1em;
}

div.abstractbotton:hover {font-weight:bold;}

div.draftbotton {
  cursor: pointer;
  display: inline-block;
  color: #4a5e4a;
}

div.draftbotton:hover {font-weight:bold;}

div.comingbanner {
  display: inline-block;
  color: #516878;
}

img.icon {
  height: 1em;
  width: auto;
}
/*formato de colores*/
body {
  background-color:#fdfff8;
}
strong {
  color:#4a5e4a;
}
a {
  color:#4a5e4a;
}
a:hover {
  color: #641b30;
}
div.abstractbotton:hover {
  color: #641b30;
}
